/* line 1, ../sass/index.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}


/* line 14, ../sass/index.sass */
#home {
  background-attachment: fixed;
  /*background-image: url("../img/bg_1.jpg");*/

  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  display: table;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}



/* line 53, ../sass/index.sass */
.home-slider {
  background: none !important;
}

/* line 56, ../sass/index.sass */
.home-container {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 3;
}


/* line 70, ../sass/index.sass */
.go-bottom {
  bottom: 5px;
  left: 0;
  opacity: 0.9;
  -webkit-opacity: 0.9;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}

/* line 80, ../sass/index.sass */
.scrollbot {
  bottom: 30px;
  left: 50%;
  margin-left: -14px;
  position: absolute;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 2px solid silver;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  display: block;
  height: 50px;
  position: relative;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  width: 30px;
  z-index: 2;
}
/* line 81, ../sass/index.sass */
.scrollbot:before {
  background: none repeat scroll 0 0 white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  content: "";
  height: 4px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 4px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-name: scrollanimation;
  -moz-animation-name: scrollanimation;
  -o-animation-name: scrollanimation;
  -ms-animation-name: scrollanimation;
  animation-name: scrollanimation;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
}

@media (max-width: 992px) {
  /* line 127, ../sass/index.sass */
  .home-title {
    width: 740px;
  }
}
@media (max-width: 768px) {
  /* line 131, ../sass/index.sass */
  .home-title {
    width: 440px;
  }
}
@media (max-width: 480px) {
  /* line 135, ../sass/index.sass */
  .home-title {
    width: 310px;
  }
}
@media (max-width: 320px) {
  /* line 139, ../sass/index.sass */
  .home-title {
    width: 220px;
  }
}
/* line 144, ../sass/index.sass */
.navbar-header .logo-brand {
  font-family: "Montserrat", sans-serif;
}

/* line 147, ../sass/index.sass */
.header-bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 154, ../sass/index.sass */
.header-top {
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4;
}

/* line 162, ../sass/index.sass */
.logo-brand {
  float: left;
  font-size: 30px;
  height: 70px;
  line-height: 20px;
  padding: 15px 0 15px 15px;
}

/* line 169, ../sass/index.sass */
.navbar-default .logo-brand h3 {
  color: #121212;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

/* line 177, ../sass/index.sass */
.navbar {
  min-height: 70px;
  border: none;
}

/* line 181, ../sass/index.sass */
.navbar-default {
  background-color: white;
  border-bottom: medium none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  left: 0;
  opacity: 0.95;
  -webkit-opacity: 0.95;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 195, ../sass/index.sass */
.navbar-collapse {
  color: #121212;
  margin-top: 6px;
  padding-left: 35px;
  padding-right: 15px;
}

/* line 201, ../sass/index.sass */
.navbar-right {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  height: 100%;
  margin-top: 10px;
}
/* line 206, ../sass/index.sass */
.navbar-right li.active > a {
  background-color: transparent !important;
  color: #ca0004 !important;
  background: white;
  padding-bottom: 4px;
}

/* line 212, ../sass/index.sass */
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: medium none;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 18px;
  padding: 9px 10px;
  position: relative;
  border-radius: none;
}
/* line 223, ../sass/index.sass */
.navbar-toggle:focus {
  outline: none;
}

/* line 227, ../sass/index.sass */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}

/* line 230, ../sass/index.sass */
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 237, ../sass/index.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #121212;
}

/* line 241, ../sass/index.sass */
.nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}
/* line 246, ../sass/index.sass */
.nav > li > span {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}

/* line 253, ../sass/index.sass */
.navbar-default .navbar-nav > li > a {
  color: #121212;
}

/* line 256, ../sass/index.sass */
.dropdown-menu {
  font-size: 13px;
  border: 0px none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
/* line 262, ../sass/index.sass */
.dropdown-menu > li > a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  padding: 5px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 271, ../sass/index.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: whitesmoke;
}

/* line 275, ../sass/index.sass */
.menu-padding {
  padding-top: 70px;
}

/* line 278, ../sass/index.sass */
.content {
  margin-top: 0px;
}

/* line 281, ../sass/index.sass */
.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  /* line 285, ../sass/index.sass */
  .navbar-collapse {
    max-height: none;
    overflow-x: hidden;
  }
}
/* line 289, ../sass/index.sass */
.site-wrapper {
  clear: both;
}

/* line 292, ../sass/index.sass */
.site-wrapper-video {
  background: white;
  z-index: 1;
}

/* line 298, ../sass/index.sass */
.navbar-header .logo-brand {
  font-family: "Montserrat", sans-serif;
}

/* line 301, ../sass/index.sass */
.header-bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 308, ../sass/index.sass */
#about {
  padding-bottom: 60px;
  padding-top: 60px;
}

/* line 312, ../sass/index.sass */
.intro-content {
  clear: both;
  padding: 20px 90px;
  position: relative;
}

/* line 317, ../sass/index.sass */
.intro-blocks {
  opacity: 0;
  padding-left: 0 !important;
}

/* line 321, ../sass/index.sass */
.intro-content ul {
  list-style-type: none;
  padding-left: 25px;
}

/* line 325, ../sass/index.sass */
.intro-blocks.vs-intro {
  position: relative;
}

/* line 328, ../sass/index.sass */
.intro-content .intro-blocks {
  margin-left: -90px;
  margin-right: -90px;
}

/* line 332, ../sass/index.sass */
.intro-blocks li {
  display: block;
  margin: 0;
  padding: 0;
  position: static !important;
}

/* line 338, ../sass/index.sass */
.intro-content ul li {
  position: relative;
}

/* line 343, ../sass/index.sass */
.intro-blocks.vs-intro li {
  float: left;
  width: 33.3333%;
}
/* line 346, ../sass/index.sass */
.intro-blocks.vs-intro .tile {
  position: relative;
  z-index: 0;
  text-align: center;
}
/* line 350, ../sass/index.sass */
.intro-blocks .intro-title {
  padding-bottom: 20px;
  text-align: center;
}
/* line 353, ../sass/index.sass */
.intro-blocks .tile .intro-title {
  display: none;
}
/* line 357, ../sass/index.sass */
.intro-blocks.vs-intro .tile .intro-title {
  background: url("../img/user-profile-close.png") no-repeat scroll 50% center white;
  display: block;
  padding-bottom: 0;
}
/* line 361, ../sass/index.sass */
.intro-blocks.vs-intro .tile .intro-title .inner {
  background: none repeat scroll 0 0 #f2f2f2;
  display: table;
  height: 100%;
  opacity: 1;
  transition: opacity 0.25s ease 0s;
  -webkit-transition: opacity 0.25s ease 0s;
  -moz-transition: opacity 0.25s ease 0s;
  -o-transition: opacity 0.25s ease 0s;
  width: 99%;
}
/* line 371, ../sass/index.sass */
.intro-blocks.vs-intro .tile .intro-title .wrap {
  display: table-cell;
  height: 100%;
  padding: 30px 10px;
  vertical-align: middle;
  width: 99%;
}
/* line 377, ../sass/index.sass */
.intro-blocks.vs-intro .tile .intro-title .wrap h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 24px;
}
/* line 383, ../sass/index.sass */
.intro-blocks.vs-intro .tile .intro-title .wrap h4 small {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal !important;
}
/* line 387, ../sass/index.sass */
.intro-blocks.vs-intro .tile .trigger {
  background: url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/plus-large.png?X-Amz-Date=20150523T082754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f658afd1124b77a4a30fb944bce5df05d75daae026b551c58b85457872efb8d1&X-Amz-Credential=ASIAJLLAXL6MBD2K3PIA/20150523/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJ3//////////wEagAKHn%2BQrIH8hzr7NyquOfiZPueC1rOQEl%2Baz%2B8s0e5be%2BgzFI%2BxwQTQZMXCpqmP3wGk3majGJjuPnMzAa8tsoCFxy0PEM8whJdMYFiJVQ0FaMjIWyqPYq0ps42KX0tY8JzZZwGZmHWiE0RBc2%2Bm57f46bpvNvmveFrKvngI9hlwFjKhhhCdaMNesT/1H2kdOcUfX%2B221aa7zL6S8sBOpfuUeeZjmr3r%2B4Fik2AFaUtUWzudXc3o15EyX4ZNg84WYvVJmzlEZfp/xPjkLx4Hnnpoe2yyir30unV21MUgsK2t5jfZvKhanP5xVRS7UKMN58K7qytncK5Geh7hsBkEfQf37ILnv/6oF") no-repeat scroll -9999px 0 rgba(3, 46, 65, 0);
  border: 0 solid #eaeef1;
  bottom: 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  transition: background-color 0.4s ease 0s, border-width 0.2s ease 0s;
  -webkit-transition: background-color 0.4s ease 0s, border-width 0.2s ease 0s;
  -moz-transition: background-color 0.4s ease 0s, border-width 0.2s ease 0s;
  width: 99%;
}
/* line 401, ../sass/index.sass */
.intro-blocks.vs-intro .intro-detail {
  bottom: 0;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
/* line 408, ../sass/index.sass */
.intro-blocks .row {
  padding-bottom: 0px;
  padding-top: 60px;
}

/* line 412, ../sass/index.sass */
.container.flat .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 416, ../sass/index.sass */
.intro-blocks .intro-title {
  padding-bottom: 20px;
  text-align: center;
}

/* line 421, ../sass/index.sass */
.no-touch .intro-blocks.vs-intro .tile .trigger:hover {
  border-width: 10px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 425, ../sass/index.sass */
.no-touch.lt-ie9 .intro-blocks.vs-intro .tile .trigger:hover {
  background-color: #032e41;
}

/* line 428, ../sass/index.sass */
.intro-blocks.vs-intro .tile.open {
  border-bottom-color: white;
}
/* line 430, ../sass/index.sass */
.intro-blocks.vs-intro .tile.open .trigger {
  -webkit-transition: background-color 0.3s, border-width 0.2s;
  -moz-transition: background-color 0.3s, border-width 0.2s;
  -o-transition: background-color 0.3s, border-width 0.2s;
  transition: background-color 0.3s, border-width 0.2s;
  border-width: 0 !important;
  background-color: rgba(3, 46, 65, 0) !important;
  background-image: none !important;
}

/* line 439, ../sass/index.sass */
.lt-ie9 .intro-blocks.vs-intro .tile.open .trigger {
  background-color: transparent !important;
}

/* line 442, ../sass/index.sass */
.intro-blocks.vs-intro .tile.open .intro-title .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 446, ../sass/index.sass */
.lt-ie9 .intro-blocks.vs-intro .tile.open .intro-title .inner {
  visibility: hidden;
}

/* line 449, ../sass/index.sass */
.a-icon {
  font-size: 72px;
  padding: 20px 0 0;
  position: relative;
  color: #ca0004;
}

/* line 455, ../sass/index.sass */
.shadow-icon {
  position: absolute;
  bottom: -40px;
  margin: 0 auto;
  text-align: center;
  font-size: 110px;
  color: #f2f2f2;
  width: 100%;
  z-index: -1;
}

@media (max-width: 480px) {
  /* line 467, ../sass/index.sass */
  .intro-blocks .row {
    padding-top: 0;
  }
  /* line 470, ../sass/index.sass */
  .intro-blocks.vs-intro li {
    float: left;
    width: 100%;
    margin: 0 !important;
  }
  /* line 474, ../sass/index.sass */
  .intro-blocks.vs-intro .intro-detail {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  /* line 478, ../sass/index.sass */
  .intro-blocks.vs-intro .tile .intro-title .wrap {
    padding: 30px 10px;
  }

  /* line 480, ../sass/index.sass */
  .a-icon {
    font-size: 62px;
  }

  /* line 482, ../sass/index.sass */
  .shadow-icon {
    font-size: 100px;
  }
}
@media (max-width: 769px) {
  /* line 487, ../sass/index.sass */
  .intro-blocks .row {
    padding-top: 0;
  }
  /* line 490, ../sass/index.sass */
  .intro-blocks.vs-intro li {
    float: left;
    width: 100%;
    margin: 0 !important;
  }
  /* line 494, ../sass/index.sass */
  .intro-blocks.vs-intro .intro-detail {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  /* line 498, ../sass/index.sass */
  .intro-blocks.vs-intro .tile .intro-title .wrap {
    padding: 30px 10px;
  }

  /* line 500, ../sass/index.sass */
  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  /* line 503, ../sass/index.sass */
  h4 small {
    font-size: 16px;
    letter-spacing: 0;
  }
}
@media (max-width: 992px) {
  /* line 508, ../sass/index.sass */
  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  /* line 511, ../sass/index.sass */
  h4 small {
    font-size: 16px;
    letter-spacing: 0;
  }
}
/* line 515, ../sass/index.sass */
.header-top {
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4;
}

/* line 523, ../sass/index.sass */
.logo-brand {
  float: left;
  font-size: 30px;
  height: 70px;
  line-height: 20px;
  padding: 15px 0 15px 15px;
}

/* line 530, ../sass/index.sass */
.navbar-default .logo-brand h3 {
  color: #121212;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

/* line 538, ../sass/index.sass */
.navbar {
  min-height: 70px;
  border: none;
}

/* line 542, ../sass/index.sass */
.navbar-default {
  background-color: white;
  border-bottom: medium none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  left: 0;
  opacity: 1;
  -webkit-opacity: 1;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 556, ../sass/index.sass */
.navbar-collapse {
  color: #121212;
  margin-top: 6px;
  padding-left: 35px;
  padding-right: 15px;
}

/* line 562, ../sass/index.sass */
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: medium none;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 18px;
  padding: 9px 10px;
  position: relative;
  border-radius: none;
}
/* line 573, ../sass/index.sass */
.navbar-toggle:focus {
  outline: none;
}

/* line 577, ../sass/index.sass */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}

/* line 580, ../sass/index.sass */
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 587, ../sass/index.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #121212;
}

/* line 591, ../sass/index.sass */
.nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}
/* line 596, ../sass/index.sass */
.nav > li > span {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}

/* line 603, ../sass/index.sass */
.navbar-default .navbar-nav > li > a {
  color: #121212;
}

/* line 606, ../sass/index.sass */
.dropdown-menu {
  font-size: 13px;
  border: 0px none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
/* line 612, ../sass/index.sass */
.dropdown-menu > li > a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  padding: 5px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 621, ../sass/index.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: whitesmoke;
}

/* line 625, ../sass/index.sass */
.menu-padding {
  padding-top: 70px;
}

/* line 628, ../sass/index.sass */
.content {
  margin-top: 0px;
}

/* line 631, ../sass/index.sass */
.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  /* line 635, ../sass/index.sass */
  .navbar-collapse {
    max-height: none;
    overflow-x: hidden;
  }
}
/* line 639, ../sass/index.sass */
.site-wrapper {
  clear: both;
}

/* line 642, ../sass/index.sass */
.site-wrapper-video {
  background: white;
  z-index: 1;
}

/* line 648, ../sass/index.sass */
#who-we-are {
  background-position: center 0%;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-image: url(../img/bg_3.jpg);
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1;
}

/* line 663, ../sass/index.sass */
.col-weare {
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 3;
}
/* line 667, ../sass/index.sass */
.col-weare h2 {
  line-height: 1;
}

/* line 670, ../sass/index.sass */
.col-skills {
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  z-index: 3;
  height: 300px;
}

/* line 677, ../sass/index.sass */
.skills-col {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 682, ../sass/index.sass */
.skills {
  text-align: left;
  margin: 40px 0px;
  padding: 0px;
  color: white;
}

/* line 688, ../sass/index.sass */
.skills-col .skills p {
  line-height: 0px;
}

/* line 691, ../sass/index.sass */
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 35px;
  width: 100%;
  background: #999999;
  height: 30px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

/* line 709, ../sass/index.sass */
.skillbar-title {
  position: absolute;
  font-weight: 400;
  font-size: 13px;
  top: 0px;
  left: 0px;
  color: white;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 722, ../sass/index.sass */
.skillbar-title span {
  padding: 0px 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 731, ../sass/index.sass */
.skillbar-bar {
  height: 26px;
  width: 0px;
  background-color: #ff6f40;
}

/* line 736, ../sass/index.sass */
.skills-col p {
  font-size: 13px;
  line-height: 23px;
  margin: 0;
  padding-left: 10px;
  font-family: Montserrat;
}

/* line 743, ../sass/index.sass */
section.sub-footer {
  background-color: #1C94C6;
  padding: 0;
  text-align: center;
}
/* line 747, ../sass/index.sass */
section.sub-footer .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ca0004;
  margin: 0 auto;
  z-index: 11;
}
/* line 755, ../sass/index.sass */
section.sub-footer .jumbotron {
  background: transparent;
  color:white;
  padding: 80px 0;
}
/* line 759, ../sass/index.sass */
section.sub-footer .jumbotron p {
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
/* line 764, ../sass/index.sass */
section.sub-footer .jumbotron a.btn-lg {
  background: transparent;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  font-size: 21px;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 10px 45px;
  text-transform: uppercase;
}
/* line 774, ../sass/index.sass */
section.sub-footer .jumbotron a.btn-lg:hover {
  background: #c90000;
  border: 2px solid #c90000;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 783, ../sass/index.sass */
footer {
  background: #131313;
  padding: 30px 30px 20px 30px;
  text-align: center;
}
/* line 787, ../sass/index.sass */
footer p {
  font-size: 12px;
  color: #cccccc;
  margin: 0;
}
/* line 791, ../sass/index.sass */
footer ul li {
  color: #333333;
  font-size: 13px;
}
/* line 794, ../sass/index.sass */
footer ul li a {
  color: #333333;
  font-size: 13px;
}
/* line 797, ../sass/index.sass */
footer ul li a:hover {
  color: #999999;
  text-decoration: none;
}

/* line 801, ../sass/index.sass */
.modal .modal-content .list-group a {
  font-size: 26px;
}

/* line 803, ../sass/index.sass */
.modal .modal-dialog {
  margin: 250px auto;
}

/* line 809, ../sass/index.sass */
#page-wrapper nav.navbar {
  background: transparent;
  border: none;
  margin-bottom: -90px;
  padding: 8px 0;
}
/* line 814, ../sass/index.sass */
#page-wrapper nav.navbar ul.nav li a {
  color: #f7f7f7;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.12em;
  opacity: 0.5;
}
/* line 821, ../sass/index.sass */
#page-wrapper nav.navbar ul.nav li a:hover {
  color: white;
  opacity: 1;
}
/* line 824, ../sass/index.sass */
#page-wrapper section#banner-hero.main-bg {
  background: url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/bootyard-banner.jpg?X-Amz-Date=20150523T082204Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9bf3e400d0a7597999bffa8ed0d8a2a9403680eb3d56d416eb32c38584897752&X-Amz-Credential=ASIAJLLAXL6MBD2K3PIA/20150523/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJ3//////////wEagAKHn%2BQrIH8hzr7NyquOfiZPueC1rOQEl%2Baz%2B8s0e5be%2BgzFI%2BxwQTQZMXCpqmP3wGk3majGJjuPnMzAa8tsoCFxy0PEM8whJdMYFiJVQ0FaMjIWyqPYq0ps42KX0tY8JzZZwGZmHWiE0RBc2%2Bm57f46bpvNvmveFrKvngI9hlwFjKhhhCdaMNesT/1H2kdOcUfX%2B221aa7zL6S8sBOpfuUeeZjmr3r%2B4Fik2AFaUtUWzudXc3o15EyX4ZNg84WYvVJmzlEZfp/xPjkLx4Hnnpoe2yyir30unV21MUgsK2t5jfZvKhanP5xVRS7UKMN58K7qytncK5Geh7hsBkEfQf37ILnv/6oF") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 700px;
}
/* line 833, ../sass/index.sass */
#page-wrapper section#banner-hero.main-bg-choice-new {
  background: url("../img/banner/bg-new.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 700px;
}
/* line 843, ../sass/index.sass */
#page-wrapper section#banner-hero .banner-hero-texture {
  background: transparent;
  background-image: -webkit-radial-gradient(#182a34, rgba(20, 10, 10, 0.7) 0%);
  background-image: -moz-radial-gradient(#182a34, rgba(20, 10, 10, 0.7) 0%);
  background-image: -o-radial-gradient(#182a34, rgba(20, 10, 10, 0.7) 0%);
  background-image: radial-gradient(#182a34, rgba(20, 10, 10, 0.7) 0%);
  min-height: 700px;
  width: 100%;
  z-index: -1;
}
/* line 853, ../sass/index.sass */
#page-wrapper section#banner-hero header nav.home-nav .navbar-brand {
  padding: 25px 15px;
}
/* line 855, ../sass/index.sass */
#page-wrapper section#banner-hero header nav.home-nav .nav > li > a {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 5px 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: none;
}
/* line 868, ../sass/index.sass */
#page-wrapper section#banner-hero header nav.home-nav .nav > li > a:hover {
  background: #c90000;
  border: 2px solid #c90000;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 877, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron {
  background: transparent;
  box-shadow: none;
  padding: 150px 0 100px 0;
  text-align: center;
}
/* line 882, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 890, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 200;
}
/* line 895, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li button.btn-default {
  height: 45px;
  padding: 0px 20px;
  font-size: 25px;
  color: #cccccc;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
}
/* line 903, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li button.btn-default i.fa {
  margin-left: 5px;
  font-size: 21px;
}
/* line 906, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li button.btn-default:focus {
  outline: 3px auto #ca0004;
  border: 1px solid #ca0004;
}
/* line 909, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li a.btn-danger {
  height: 45px;
  padding: 4px 20px;
  font-size: 25px;
  color: #cccccc;
  background-color: #ca0004;
  border: 1px solid #ca0004;
  border-radius: 3px;
}
/* line 917, ../sass/index.sass */
#page-wrapper section#banner-hero header .hero-jumbotron ul li a.btn-danger:hover {
  background-color: #b50205;
  border: 1px solid #b50205;
}

/* line 922, ../sass/index.sass */
#static-page-wrapper section.what-we-do {
  padding: 80px 0;
  text-align: center;
}
/* line 925, ../sass/index.sass */
#static-page-wrapper section.what-we-do h2 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
/* line 932, ../sass/index.sass */
#static-page-wrapper section.what-we-do p {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 50px;
}
/* line 936, ../sass/index.sass */
#static-page-wrapper section.what-we-do .row.what-we-do-content {
  text-align: left;
}
/* line 939, ../sass/index.sass */
#static-page-wrapper section.what-we-do-more {
  background: #ca0004;
  padding: 80px 0;
  text-align: center;
}
/* line 943, ../sass/index.sass */
#static-page-wrapper section.what-we-do-more img {
  margin: 10px auto;
}
/* line 945, ../sass/index.sass */
#static-page-wrapper section.what-we-do-more h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 60px 0 0 0;
  text-align: center;
}
/* line 952, ../sass/index.sass */
#static-page-wrapper section.what-we-do-more h3 a {
  color: white;
  text-decoration: underline;
}
/* line 955, ../sass/index.sass */
#static-page-wrapper section.what-we-do-more h3 a:hover {
  color: yellow;
}

/* line 960, ../sass/index.sass */
section.bootyard-process, section.bootyard-about, section.portfolio-list {
  margin: 60px 0;
  text-align: center;
}
/* line 963, ../sass/index.sass */
section.bootyard-process h1, section.bootyard-about h1, section.portfolio-list h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

/* line 971, ../sass/index.sass */
section.bootyard-process img {
  padding: 30px 0;
}
/* line 973, ../sass/index.sass */
section.bootyard-process h1 {
  margin-bottom: 20px;
}
/* line 975, ../sass/index.sass */
section.bootyard-process h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 30px 0;
}
/* line 979, ../sass/index.sass */
section.bootyard-process p {
  font-size: 20px;
  font-weight: 200;
  margin: 10px 0 30px 0;
}
/* line 983, ../sass/index.sass */
section.bootyard-process .process-steps {
  text-align: left;
}
/* line 985, ../sass/index.sass */
section.bootyard-process .process-steps p {
  font-size: 18px;
  font-weight: 200;
}
/* line 988, ../sass/index.sass */
section.bootyard-process .specific-process {
  margin-top: 40px;
  text-align: center;
}
/* line 991, ../sass/index.sass */
section.bootyard-process .specific-process h2 {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}
/* line 996, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail .caption {
  margin-top: -100px;
  margin-bottom: 20px;
  color: white;
}
/* line 1000, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail .caption h3 {
  margin-top: 0;
  line-height: 1.3em;
}
/* line 1003, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail img {
  width: 100%;
  margin-bottom: 0;
}
/* line 1006, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail:hover {
  text-decoration: none;
  opacity: 0.9;
}
/* line 1009, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail.web-app {
  background: #5d0203;
}
/* line 1011, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail.mobile-app {
  background: #263238;
}
/* line 1013, ../sass/index.sass */
section.bootyard-process .specific-process a.thumbnail.website {
  background: #004d40;
}

/* line 1017, ../sass/index.sass */
section.bootyard-process img, section.bootyard-about img {
  width: 80%;
  margin-bottom: 0px;
}

/* line 1025, ../sass/index.sass */
section.bootyard-about .grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}
/* line 1033, ../sass/index.sass */
section.bootyard-about .grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
/* line 1046, ../sass/index.sass */
section.bootyard-about .grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
/* line 1052, ../sass/index.sass */
section.bootyard-about .grid figure figcaption {
  padding: 2em;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 1059, ../sass/index.sass */
section.bootyard-about .grid figure figcaption::before, section.bootyard-about .grid figure figcaption::after {
  pointer-events: none;
}
/* line 1066, ../sass/index.sass */
section.bootyard-about .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
/* line 1077, ../sass/index.sass */
section.bootyard-about .grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;
}
/* line 1080, ../sass/index.sass */
section.bootyard-about .grid figure h2 span {
  font-weight: 800;
}
/* line 1083, ../sass/index.sass */
section.bootyard-about .grid figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}
/* line 1089, ../sass/index.sass */
section.bootyard-about figure.effect-winston {
  background: #162633;
  text-align: left;
}
/* line 1092, ../sass/index.sass */
section.bootyard-about figure.effect-winston img {
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 1097, ../sass/index.sass */
section.bootyard-about figure.effect-winston figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://d6th87c092uox.cloudfront.net/bootyard-website/website/triangle.svg?X-Amz-Date=20150524T064801Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=44062902c5c4f5756884dc77850c2554543854433581e2b84b825079a78f3100&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF) no-repeat center center;
  background-size: 100% 100%;
  content: "";
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, transform 0.45s;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
/* line 1112, ../sass/index.sass */
section.bootyard-about figure.effect-winston h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
/* line 1117, ../sass/index.sass */
section.bootyard-about figure.effect-winston p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 7% 0;
}
/* line 1122, ../sass/index.sass */
section.bootyard-about figure.effect-winston a {
  margin: 0 10px;
  color: #5d504f;
  font-size: 170%;
}
/* line 1126, ../sass/index.sass */
section.bootyard-about figure.effect-winston a:hover, section.bootyard-about figure.effect-winston a:focus {
  color: #ca0004;
}
/* line 1128, ../sass/index.sass */
section.bootyard-about figure.effect-winston p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
/* line 1135, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover img {
  opacity: 0.6;
}
/* line 1137, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 1140, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover figcaption::before {
  opacity: 0.7;
  -webkit-transform: rotate3d(0, 0, 1, 20deg);
  transform: rotate3d(0, 0, 1, 20deg);
}
/* line 1145, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 1150, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover p a:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
/* line 1153, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover p a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 1156, ../sass/index.sass */
section.bootyard-about figure.effect-winston:hover p a:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 1162, ../sass/index.sass */
header.technology {
  background: rgba(24, 24, 24, 0.95) url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/bg-tech.PNG?X-Amz-Date=20150525T152414Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e6a3b539a7d929c093d5024608cc0ef44396871ac750bb267cf76b2ec08c331e&X-Amz-Credential=ASIAIPFIGKH4SMOJXW7A/20150525/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENf//////////wEagAJ8s5mIJqKvWvCHWUfPrWv5A8gtO8aGYH3sru2Fcn0RHIkcFL7nNMQvakLzK3ccvqpj38yvHsj3Hlc2yIGLmUx4EXU6Ukz1MJFg2Y1stxLeBYGPAE/ry5jmM7K3W%2Bxso7bsO265i75dfZvRvw6EmeVehjHAdU91hfEGjj4RePS%2B6Y/wDMWGnnA%2Br/7CUZaTkk4npMfH%2B3Es2MgKga/J/2u2fYSS0OT7Xsq41LDDiwee6W3NmSpc6itlmOlV2s9NYmIwX%2BClDJF5lOSC%2BDgqYpuECr1NKwcSE9GYi1RMYtpslHG54JfTJ45M8LbYLCidLXHkvospw3VsY8jfovYiGyrkIO/XjKsF");
  margin-top: 0px;
  margin-bottom: 0;
  padding: 50px 0;
}
/* line 1167, ../sass/index.sass */
header.technology h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
/* line 1176, ../sass/index.sass */
header.technology h1 i.fa {
  color: #ca0004;
}
/* line 1178, ../sass/index.sass */
header.technology p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 1.5em;
  padding: 30px 150px;
  text-align: center;
}

/* line 1187, ../sass/index.sass */
header.process-web-app {
  background: #5d0203 url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/web-app-banner.PNG?X-Amz-Date=20150525T152207Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ccf7bacba765f17bbdf7d073d88ad7bba5f90fc87473b3460b0341c7239bd5fe&X-Amz-Credential=ASIAIPFIGKH4SMOJXW7A/20150525/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENf//////////wEagAJ8s5mIJqKvWvCHWUfPrWv5A8gtO8aGYH3sru2Fcn0RHIkcFL7nNMQvakLzK3ccvqpj38yvHsj3Hlc2yIGLmUx4EXU6Ukz1MJFg2Y1stxLeBYGPAE/ry5jmM7K3W%2Bxso7bsO265i75dfZvRvw6EmeVehjHAdU91hfEGjj4RePS%2B6Y/wDMWGnnA%2Br/7CUZaTkk4npMfH%2B3Es2MgKga/J/2u2fYSS0OT7Xsq41LDDiwee6W3NmSpc6itlmOlV2s9NYmIwX%2BClDJF5lOSC%2BDgqYpuECr1NKwcSE9GYi1RMYtpslHG54JfTJ45M8LbYLCidLXHkvospw3VsY8jfovYiGyrkIO/XjKsF");
  margin-top: 0px;
  margin-bottom: 0;
  padding: 50px 0;
}
/* line 1192, ../sass/index.sass */
header.process-web-app h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
/* line 1203, ../sass/index.sass */
header.process-web-app h1 i.fa {
  color: #ca0004;
}
/* line 1205, ../sass/index.sass */
header.process-web-app p {
  font-weight: 300;
  color: white;
  font-size: 18px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

/* line 1212, ../sass/index.sass */
header.process-mobile-app {
  background: #263238 url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/mobile-app-banner.PNG?X-Amz-Date=20150524T140434Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=43ba25ac285468849d1a9fd9c06fb56f67fcef1af5475e4c0afa8e15689c2d64&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF");
  margin-top: 0px;
  margin-bottom: 0;
  padding: 50px 0;
}
/* line 1217, ../sass/index.sass */
header.process-mobile-app h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
/* line 1228, ../sass/index.sass */
header.process-mobile-app h1 i.fa {
  color: #ca0004;
}
/* line 1230, ../sass/index.sass */
header.process-mobile-app p {
  font-weight: 300;
  color: white;
  font-size: 18px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

/* line 1237, ../sass/index.sass */
header.process-website {
  background: #004d40 url("https://d6th87c092uox.cloudfront.net/bootyard-website/website/web-app-banner.PNG?X-Amz-Date=20150525T152207Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ccf7bacba765f17bbdf7d073d88ad7bba5f90fc87473b3460b0341c7239bd5fe&X-Amz-Credential=ASIAIPFIGKH4SMOJXW7A/20150525/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENf//////////wEagAJ8s5mIJqKvWvCHWUfPrWv5A8gtO8aGYH3sru2Fcn0RHIkcFL7nNMQvakLzK3ccvqpj38yvHsj3Hlc2yIGLmUx4EXU6Ukz1MJFg2Y1stxLeBYGPAE/ry5jmM7K3W%2Bxso7bsO265i75dfZvRvw6EmeVehjHAdU91hfEGjj4RePS%2B6Y/wDMWGnnA%2Br/7CUZaTkk4npMfH%2B3Es2MgKga/J/2u2fYSS0OT7Xsq41LDDiwee6W3NmSpc6itlmOlV2s9NYmIwX%2BClDJF5lOSC%2BDgqYpuECr1NKwcSE9GYi1RMYtpslHG54JfTJ45M8LbYLCidLXHkvospw3VsY8jfovYiGyrkIO/XjKsF");
  margin-top: 0px;
  margin-bottom: 0;
  padding: 50px 0;
}
/* line 1242, ../sass/index.sass */
header.process-website h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
/* line 1253, ../sass/index.sass */
header.process-website h1 i.fa {
  color: #ca0004;
}
/* line 1255, ../sass/index.sass */
header.process-website p {
  font-weight: 300;
  color: white;
  font-size: 18px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

/* line 1263, ../sass/index.sass */
section.tech-stack {
  background-color: #fff;
  padding: 40px 0;
}
/* line 1266, ../sass/index.sass */
section.tech-stack a.thumbnail:hover {
  text-decoration: none;
  border: 2px solid #ca0004;
}
/* line 1269, ../sass/index.sass */
section.tech-stack .thumbnail {
  padding-top: 20px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  margin: 15px 5px;
}
/* line 1274, ../sass/index.sass */
section.tech-stack .thumbnail .img-container {
  min-height: 50px;
  padding: 10px 30px;
  text-align: center;
  vertical-align: middle;
}
/* line 1279, ../sass/index.sass */
section.tech-stack .thumbnail .caption {
  background: transparent;
  font-size: 14px;
  height: 200px;
  padding: 0 20px 10px 20px;
}

section.tech-stack .thumbnail .caption p{
  font-size: 13px;
}

/* line 1284, ../sass/index.sass */
section.tech-stack .thumbnail .caption h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: block;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 991px) {
  /* line 1293, ../sass/index.sass */
  body .technology-list .technology-wrapper {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  /* line 1298, ../sass/index.sass */
  body header.technology p {
    padding: 20px;
  }
}
/* Case Study, Portfolio format */
/* line 1305, ../sass/index.sass */
section.process-how-to .grid-1, section.process-how-to .grid-2, section.process-how-to .grid-3, section.process-how-to .grid-4, section.process-how-to .grid-5, section.process-how-to .grid-6, section.process-how-to .grid-7, section.process-how-to .grid-8 {
  line-height: 1.7em;
}
/* line 1307, ../sass/index.sass */
section.process-how-to .grid-1 h2, section.process-how-to .grid-2 h2, section.process-how-to .grid-3 h2, section.process-how-to .grid-4 h2, section.process-how-to .grid-5 h2, section.process-how-to .grid-6 h2, section.process-how-to .grid-7 h2, section.process-how-to .grid-8 h2 {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  margin: 80px 0 0 0;
  text-align: center;
}
/* line 1312, ../sass/index.sass */
section.process-how-to .grid-1 h3, section.process-how-to .grid-2 h3, section.process-how-to .grid-3 h3, section.process-how-to .grid-4 h3, section.process-how-to .grid-5 h3, section.process-how-to .grid-6 h3, section.process-how-to .grid-7 h3, section.process-how-to .grid-8 h3 {
  font-size: 24px;
  font-weight: 600;
}
/* line 1315, ../sass/index.sass */
section.process-how-to .grid-1 {
  font-size: 20px;
  text-align: left;
}
/* line 1318, ../sass/index.sass */
section.process-how-to .grid-1 p {
  margin: 50px 0;
  font-weight: 200;
}
/* line 1321, ../sass/index.sass */
section.process-how-to .grid-6 {
  font-size: 21px;
  text-align: left;
  margin: 80px 0;
}
/* line 1325, ../sass/index.sass */
section.process-how-to .grid-6 p {
  font-weight: 200;
}

/* line 1328, ../sass/index.sass */
section.portfolio-content {
  margin: 0;
  text-align: center;
}
/* line 1331, ../sass/index.sass */
section.portfolio-content h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
/* line 1337, ../sass/index.sass */
section.portfolio-content p a {
  color: #ca0004;
}
/* line 1339, ../sass/index.sass */
section.portfolio-content .grid-1, section.portfolio-content .grid-2, section.portfolio-content .grid-3, section.portfolio-content .grid-4, section.portfolio-content .grid-5, section.portfolio-content .grid-6, section.portfolio-content .grid-7, section.portfolio-content .grid-8, section.portfolio-content .grid-9 {
  line-height: 1.7em;
}
/* line 1341, ../sass/index.sass */
section.portfolio-content .grid-1 h2, section.portfolio-content .grid-2 h2, section.portfolio-content .grid-3 h2, section.portfolio-content .grid-4 h2, section.portfolio-content .grid-5 h2, section.portfolio-content .grid-6 h2, section.portfolio-content .grid-7 h2, section.portfolio-content .grid-8 h2, section.portfolio-content .grid-9 h2 {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  margin: 80px 0 30px 0;
  text-align: center;
}
/* line 1346, ../sass/index.sass */
section.portfolio-content .grid-1 {
  font-size: 20px;
  text-align: left;
}
/* line 1349, ../sass/index.sass */
section.portfolio-content .grid-1 p {
  margin-top: 80px;
  font-weight: 200;
}
/* line 1352, ../sass/index.sass */
section.portfolio-content .grid-1 blockquote {
  margin-top: 80px;
  font-style: italic;
}
/* line 1355, ../sass/index.sass */
section.portfolio-content .grid-4 {
  font-size: 21px;
  text-align: left;
  margin: 100px 0;
}
/* line 1359, ../sass/index.sass */
section.portfolio-content .grid-4 p {
  font-size: 18px;
  font-weight: 200;
  padding: 40px 30px;
}
/* line 1363, ../sass/index.sass */
section.portfolio-content .grid-6 {
  font-size: 21px;
  text-align: left;
  margin: 80px 0;
}
/* line 1367, ../sass/index.sass */
section.portfolio-content .grid-6 p {
  font-weight: 200;
}
/* line 1369, ../sass/index.sass */
section.portfolio-content .grid-7 {
  font-size: 18px;
  text-align: left;
  margin: 80px 0;
}
/* line 1373, ../sass/index.sass */
section.portfolio-content .grid-7 .grid-7-img .col-md-4 {
  padding-right: 3px;
  padding-left: 3px;
}
/* line 1376, ../sass/index.sass */
section.portfolio-content .grid-7 p {
  margin-top: 50px;
  font-weight: 200;
}
/* line 1379, ../sass/index.sass */
section.portfolio-content .grid-8 {
  background-color: #f7f7f7;
}
/* line 1381, ../sass/index.sass */
section.portfolio-content .grid-8 h2 {
  font-size: 18px;
}
/* line 1383, ../sass/index.sass */
section.portfolio-content .grid-9 {
  font-size: 21px;
  text-align: left;
}
/* line 1386, ../sass/index.sass */
section.portfolio-content .grid-9 h2 {
  margin-top: -30px;
}
/* line 1388, ../sass/index.sass */
section.portfolio-content .grid-9 p {
  font-weight: 200;
}
/* line 1390, ../sass/index.sass */
section.portfolio-content .portfolio-link {
  margin: 80px 0 100px 0;
}
/* line 1392, ../sass/index.sass */
section.portfolio-content .portfolio-link h2 a {
  color: #ca0004;
}

/* line 1395, ../sass/index.sass */
section.contact-us {
  min-height: 500px;
  text-align: center !important;
  margin-top: 50px;
}
/* line 1399, ../sass/index.sass */
section.contact-us .jumbotron {
  background: white;
  margin-top: 100px;
  margin: 0 auto;
  text-align: center;
}
/* line 1404, ../sass/index.sass */
section.contact-us .jumbotron h2 {
  margin-bottom: 50px;
}
/* line 1406, ../sass/index.sass */
section.contact-us .jumbotron p a {
  color: #ca0004;
}
/* line 1408, ../sass/index.sass */
section.contact-us a.typeform-share.button {
  text-align: center !important;
  background: #ca0004;
  border: none;
  border-bottom: 3px solid #b20a30;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
  margin: 0 auto;
  float: none;
  width: 40%;
}
/* line 1421, ../sass/index.sass */
section.contact-us a.typeform-share.button:hover {
  background: #bc0205;
}

/*Blog CSS*/

/* line 1, ../sass/blog.sass */
.blog-container {
  margin-top: 90px;
  text-align: center;
}
/* line 4, ../sass/blog.sass */
.blog-container a {
  color: #c90000;
}
/* line 6, ../sass/blog.sass */
.blog-container a:hover {
  color: #c90000;
  text-decoration: underline;
}
/* line 9, ../sass/blog.sass */
.blog-container a h1 {
  margin: 40px 0 0 0;
  text-align: center;
}
/* line 12, ../sass/blog.sass */
.blog-container h2 {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0 40px 0;
  text-align: center;
}
/* line 18, ../sass/blog.sass */
.blog-container p {
  font-size: 16px;
  line-height: 1.8em;
  text-align: left;
}
/* line 22, ../sass/blog.sass */
.blog-container img {
  margin: 30px 0;
}
/* line 24, ../sass/blog.sass */
.blog-container ul.pagination > li > a {
  border: none;
  color: #cccccc;
  margin-bottom: 50px;
}
/* line 28, ../sass/blog.sass */
.blog-container ul.pagination > li > a:hover {
  color: #333333;
}
/* line 30, ../sass/blog.sass */
.blog-container hr {
  margin: 40px 0;
}
/* line 32, ../sass/blog.sass */
.blog-container a button.read-more {
  background: transparent;
  border-radius: 4px;
  border: 2px solid #999999;
  color: #999999;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 30px;
}
/* line 40, ../sass/blog.sass */
.blog-container a button.read-more:hover {
  background: #c90000;
  border: 2px solid #c90000;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.highlight {
  text-align: left !important;
}

#disqus_thread{
  padding-bottom: 30px;
}
