<!DOCTYPE html>
<html lang="en">
  <head>
      <title> APD Discovery| Bienvenidos!</title>
    <!-- Bootstrap core CSS -->
      <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom styles for this template -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="javascript/jquery.min.js"></script>
         <!-- Custom Theme files -->
        <link href="stylesheets/styles.css" rel='stylesheet' type='text/css' />
           <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="pplication/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
        <!----webfonts--->
        <link href="stylesheets/fontsko.css" rel='stylesheet' type='text/css'>
        <!---//webfonts--->


  </head>

  <body>
	<header class="header-main">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">DESIGNPRO[24X7]</a>
			</div>
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/welcome/index">Home</a></li>
				<li><a href="/pages/About">About</a></li>
				<li><a href="/pages/Services">Services</a></li>
        <li><a href="/pages/Products">Products</a></li>
        <li><a href="/pages/Trainings">Trainings</a></li>
        <li><a href="/pages/Team">Team</a></li>
				 </ul>

			</div><!--/.nav-collapse -->
		  </div>
		</div>

	</header>

	<section class="section-showcase">
		<div class="container showcase-content">
			<h1><span style="background-color: #FFFFF">Wake Up and Be Awesome!</span></h1>
			<a href="#" class="btn btn-lg btn-default btn-rounded"><span style="background-color: #00000">We want the brightest you! <br> Sign Up to Receive Updates. <br>We are launching soon!</span></a>
		</div>
	</section>


  <!-----FEATURED----->
  <section class="section-light">
<div class="container">
  <div class="featured">
      <script>
            $(document).ready(function() {
              $("#owl-demo2").owlCarousel({
                items : 5,
                lazyLoad : true,
                autoPlay : true,
                pagination : false,
              });
            });
       </script>
      <div id="owl-demo2" class="owl-carousel">
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo2.png" title="Mashable" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo3.png" title="TNW" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo4.png" title="bribble" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo2.png" title="Mashable" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo3.png" title="TNW" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo4.png" title="bribble" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo2.png" title="Mashable" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo3.png" title="TNW" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo4.png" title="bribble" />
           </div>
           <div class="item">
              <img src="/uploads/brand-logo1.png" title="the verge" />
           </div>
      </div>
</div>
</div>
</section>
<!-----FEATURED----->

	<section class="section-primary">
		<div class="container">
		<h2 class="page-header">What We Do</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>Joomla Website Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>Wordpress Website Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>We Build Your Online Store</h3>
							<p>We build e-commerce websites using OSCommerce, nopCommerce, Woocommerce.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="row">
        <div class="col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-6"></i>
            </div>
            <div class="icon-content">
              <h3>Joomla Website Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-6"></i>
            </div>
            <div class="icon-content">
              <h3>Wordpress Website Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-6"></i>
            </div>
            <div class="icon-content">
              <h3>We Build Your Online Store</h3>
              <p>We build e-commerce websites using OSCommerce, nopCommerce, Woocommerce.</p>
            </div>
          </div>
        </div>
      </div>


			<div class="row">
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>Ruby on Rails Applications</h3>
							<p>We wrap up your web application ideas.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>HTML5/CSS 3 Custom Website</h3>
							<p>Simple to complex requirements are built steadily.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block block-icon">
						<div class="icon">
							<i class="fa fa-home fa-6"></i>
						</div>
						<div class="icon-content">
							<h3>IT Consultancy</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="block block-light block-center">
						<i class="fa fa-html5 fa-primary fa-6 fa-border"></i>
						<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra varius maximus.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="block block-light block-center">
						<i class="fa fa-pie-chart fa-primary fa-6 fa-border"></i>
						<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra varius maximus.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="block block-light block-center">
						<i class="fa fa-unlock-alt fa-primary fa-6 fa-border"></i>
						<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra varius maximus.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="block block-light block-center">
						<i class="fa fa-question-circle fa-primary fa-6 fa-border"></i>
						<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra varius maximus.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-primary extra-pad">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img class="device device-small" src="/uploads/device-iphone.png">

				</div>
				<div class="col-md-6">

					<h2 class="page-header">Interact and Get Update from APDDiscovery For FREE!</h2>


					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit Phasellus et odio.</p>
					<a href="#" class="btn btn-lg btn-default btn-rounded">Download App</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7724.224490916882!2d121.00585334999995!3d14.535571600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9460d9af31b%3A0x584c0f2cbe6a7ce5!2sMalibay%2C+Pasay%2C+Metro+Manila!5e0!3m2!1sen!2sph!4v1441841700110" width="1000" height="400" frameborder="1" style="border:1"></iframe>
	</section>

	<section class="section-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-heading">Contact Us</h2>
					<form role="form">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" placeholder="Enter name">
							  </div>
							  <div class="form-group">
								<label>Phone Number</label>
								<input type="text" class="form-control" placeholder="Enter phone">
							  </div>
							  <div class="form-group">
								<label>Email address</label>
								<input type="email" class="form-control" placeholder="Enter email">
							  </div>
																				<div class="form-group">
								<label>Message</label>
								<textarea class="form-control"></textarea>
							  </div>
							  <button type="submit" class="btn btn-primary">Submit</button>
						</form>
				</div>
				<div class="col-md-4">
					<div class="block block-primary-head no-pad">
						<h3><i class="fa fa-home"></i> Our Location</h3>
							<div class="block-content">
								<ul class="list-location">
								<li><h4>APDDISCOVERY, INC</h4></li><hr>
									<li>Malibay, Pasay</li>
									<li>Metro Manila, Philippines</li>
									<li>Phone: 111-111-1234</li>
									<li>Fax: 888-888-888</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<footer class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h4>Get The APDDiscovery</h4>
					<ul>
						<li class="app-appstore"><a href="#">App Store</a></li>
						<li class="app-play"><a href="#">Google Play Store</a></li>
						<li class="app-droid"><a href="#">Android Market</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>About</h4>
					<ul>
						<li><a href="#">What is APDDiscovery?</a></li>
						<li><a href="#">Advertise With Us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Web Development</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul>
							<div class="block-content">
								<ul class="list-location">
								<li><h4>LOREM IPSUM</h4></li><hr>
									<li>Lorem ipsum dolor sit </li>
									<li>amet, consectetur </li>
								</ul>
							</div>
					</ul>
				</div>
			</div>




	<!---- social icons ---->
	<div class="social-icons">
				<div class="container">
					<ul>
						<li><a class="twitter" href="#"><span> </span></a></li>
						<li><a class="facebook" href="#"><span> </span></a></li>
						<li><a class="vemeo" href="#"><span> </span></a></li>
						<li><a class="pin" href="#"><span> </span></a></li>

					</ul>

								<div class="downloads">
				<a href="#"><img src="/uploads/btn-download.png" alt="Download"></a>
				<a href="#"><img src="/uploads/btn-appstore.png" alt="Download"></a>
			</div>
				</div>

					<div class="clearfix"> </div>
				<!---- footer-links ---->
				<div class="footer-links">
					<ul>
						<li><p>Design by <a href="http://www.gracesojor.com/">Grace Sojor</a></p><span> </span></li>
						<li><a href="#"> Terms of Use </a><span> </span></li>
						<li><a href="#"> Support </a><span> </span></li>
						<li><a href="#">  Help </a></li>
					</ul>
					<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
									<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
				<!---- footer-links ---->
			</div>
				</div>

	</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
