
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>DesignPro</title>
    <meta name="keywords" content="ruby on rails, angularJS, development, UX design, UI design, UX UI designers, ruby on rails developers, angularJS developers, agile development, cebu, philippines">
    <meta name="description" content="DesignPro Web Development based in Manila, Philippines">
    <meta name="author" content="DesignPro">


    <!-- Bootstrap core CSS -->
      <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />

          <!-- Custom styles for this template -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="javascript/jquery.min.js"></script>
         <!-- Custom Theme files -->
        <link href="stylesheets/styles.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
         <link href="stylesheets/index.css" rel="stylesheet">
         <link href="stylesheets/grid.css" rel="stylesheet">


           <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
        <!----webfonts--->
        <link href="stylesheets/fontsko.css" rel='stylesheet' type='text/css'>
        <!---//webfonts--->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google fonts -->
  </head>
  <body>

    <header class="header-main">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DESIGNPRO[24X7]</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="/welcome/index">Home</a></li>
          <li><a href="/pages/About">About</a></li>
          <li class="active"><a href="/pages/Services">Technologies</a></li>
          <li><a href="/pages/Products">Products</a></li>
          <li><a href="/pages/Trainings">Trainings</a></li>
          <li><a href="/pages/Team">Team</a></li>
           </ul>


        </div><!--/.nav-collapse -->
        </div>
      </div>

    </header>



    <header class="technology">
<div class="container">
    <h1>We <i class="fa fa-heart-o"></i> the power of Ruby</h1>
    <p>Our company's core technology for delivering great web products is Ruby. <br>But it's impossible to develop great web products without the knowledge of other technologies. <br>Here is a growing list of technologies we have mastered to help us address <br>your applications' specific technical needs.</p>
  </div>
</header>

<section class="tech-stack">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a href="https://www.ruby-lang.org/en/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/ruby-logo.png?X-Amz-Date=20150524T061103Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=98cb11bcf5fb258913df3b0f9289acd839e62935da3bffaed606ba56680c6135&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="ruby-logo"></div>
          <div class="caption">
            <h3>Ruby</h3>
            <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://rubyonrails.org/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/rails-logo.png?X-Amz-Date=20150524T061209Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9295d248bd6c70c70337f65cb68220944c074ace91918468d17222bb09faff26&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="rails-logo"></div>
          <div class="caption">
            <h3>Ruby on Rails</h3>
            <p>Ruby on Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity. It let's you write write beautiful code by favoring convention over configuration.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://angularjs.org/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/angularjs-logo.png?X-Amz-Date=20150524T061305Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=772aba097d50e3b61c087f63f8c4d98264cfa3132a69410de54b7e0fe0eb7b96&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="angularJS-logo"></div>
          <div class="caption">
            <h3>AngularJS</h3>
            <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://getbootstrap.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/bootstrap-logo.png?X-Amz-Date=20150524T061350Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a438b953e8f9ee30dbec741cbf2bc7c331d7328c65992450f04c64c540815aca&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="bootstrap-logo"></div>
          <div class="caption">
            <h3>Bootstrap</h3>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://www.html5rocks.com/en/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/html5-logo.png?X-Amz-Date=20150524T061724Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3d55717d85071083c57752a22423af420dc70d2073896b1bc19811d034723229&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="HTML5-logo"></div>
          <div class="caption">
            <h3>HTML5</h3>
            <p>HTML5 is a core technology markup language of the Internet used for structuring and presenting content for the World Wide Web.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/css3-logo.png?X-Amz-Date=20150524T061808Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=55e02fdfe1211bb7e21ca6ccc513a8c0e81d43004a1a132297ac4b3eb7aa05c9&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="CSS3-logo"></div>
          <div class="caption">
            <h3>CSS3</h3>
            <p>CSS3 is the latest version of the CSS specification. The term “CSS3” is not just a reference to the new features in CSS, but the third level in the progress of the CSS specification.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/js-logo.png?X-Amz-Date=20150525T152041Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=fb3ed209bb5ec1056ce4c9f405d853384b859ca0dd07cb391deadd7bb597ed1e&X-Amz-Credential=ASIAIPFIGKH4SMOJXW7A/20150525/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENf//////////wEagAJ8s5mIJqKvWvCHWUfPrWv5A8gtO8aGYH3sru2Fcn0RHIkcFL7nNMQvakLzK3ccvqpj38yvHsj3Hlc2yIGLmUx4EXU6Ukz1MJFg2Y1stxLeBYGPAE/ry5jmM7K3W%2Bxso7bsO265i75dfZvRvw6EmeVehjHAdU91hfEGjj4RePS%2B6Y/wDMWGnnA%2Br/7CUZaTkk4npMfH%2B3Es2MgKga/J/2u2fYSS0OT7Xsq41LDDiwee6W3NmSpc6itlmOlV2s9NYmIwX%2BClDJF5lOSC%2BDgqYpuECr1NKwcSE9GYi1RMYtpslHG54JfTJ45M8LbYLCidLXHkvospw3VsY8jfovYiGyrkIO/XjKsF" alt="javascript-logo"></div>
          <div class="caption">
            <h3>Javascript</h3>
            <p>Javascript is an object-oriented computer programming language commonly used to create interactive effects within web browsers.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://jquery.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/jquery-logo.png?X-Amz-Date=20150524T062129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=35dbb4bd52423a88cc55a80358e7a5a0cf324a93e92edc74790ee01eb48bd9b9&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="jquery-logo"></div>
          <div class="caption">
            <h3>jQuery</h3>
            <p>jQuery is a feature-rich JavaScript library that enables HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://www.mysql.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/mysql-logo.png?X-Amz-Date=20150524T062602Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9296a83def1dea54d7428e2ebe917d692fdf6e72c7bf0b8444debd677a2760f9&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="mysql-logo"></div>
          <div class="caption">
            <h3>MySQL</h3>
            <p>MySQL is the world’s most popular open source database, enabling the cost-effective delivery of reliable, high-performance and scalable Web-based and embedded database applications.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="https://www.mongodb.org/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/mongodb-logo.png?X-Amz-Date=20150524T062638Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3e936715772bc01e09bd62d35ae80388f15ee3f79a4b438e0f7edacc91b32c53&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="mongodb-logo"></div>
          <div class="caption">
            <h3>MongoDB</h3>
            <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://www.postgresql.org/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/postgresql-logo.png?X-Amz-Date=20150524T062725Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=932384ba7efb4898d72d62bb796ed083ac3a50ebee0d8dcf008f392df22caf54&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="postresql-logo"></div>
          <div class="caption">
            <h3>PostgreSQL</h3>
            <p>PostgreSQL is a powerful, open source object-relational database system. It has more than 15 years of active development and a proven architecture that has earned it a strong reputation for reliability, data integrity, and correctness.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://haml.info/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/haml-logo.png?X-Amz-Date=20150524T062810Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bca7a2aba4b1caf22493009656a77a7edd30440515dea7acfcfbfb9c4e9fde27&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="haml-logo"></div>
          <div class="caption">
            <h3>Haml</h3>
            <p>Beautiful, DRY, well-indented, clear markup: templating haiku.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://sass-lang.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/sass-logo.png?X-Amz-Date=20150524T062903Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=db3a3068eca525635b273ca132aa3706adf24fef8ca5cc5c53ea383d7e9b5e16&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="sass-logo"></div>
          <div class="caption">
            <h3>Sass</h3>
            <p>Sass is an extension of CSS3 which adds nested rules, variables, mixins, selector inheritance, and more. Sass generates well formatted CSS and makes your stylesheets easier to organize and maintain.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://compass-style.org/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/compass-sass-logo.png?X-Amz-Date=20150524T062946Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=4547aa78898cfdefca6017be3a52fabdb374fcc1f38a5ad0bb128f42ecaaae1d&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="compass-logo"></div>
          <div class="caption">
            <h3>Compass</h3>
            <p>Compass is an open-source CSS Authoring Framework.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://aws.amazon.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/aws-logo.png?X-Amz-Date=20150524T063119Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=38581274b38d0bc0f9f985a5603702cb50a53272ab6517bc903018ce08552217&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="aws-logo"></div>
          <div class="caption">
            <h3>Amazon Web Services</h3>
            <p>Amazon Web Services is a collection of remote computing services, also called web services, that make up a cloud computing platform offered by Amazon.com. </p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://heroku.com/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/heroku-logo.png?X-Amz-Date=20150524T063448Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=03c53b70166b09815c341cc740999432065f54f3be62bd82e7eec4ddaade4d0b&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="heroku-logo"></div>
          <div class="caption">
            <h3>Heroku</h3>
            <p>Heroku (pronounced her-OH-koo) is a cloud application platform – a new way of building and deploying web apps.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="http://azure.microsoft.com/en-us/" class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/windows-azure-logo.png?X-Amz-Date=20150524T063534Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3f28633c604cf0c40c2dcdedb793f274957f5f521b985a3c0bf0335964565175&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="windows-azure-logo"></div>
          <div class="caption">
            <h3>Windows Azure</h3>
            <p>Windows Azure is an open and flexible cloud platform that enables you to quickly build, deploy and manage applications across a global network of Microsoft-managed data centers.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/ios-logo.png?X-Amz-Date=20150524T063903Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=8cb4488b7d1d8ee60fd6e177b389926efa8d28f6ae12f3ecffd2713f2d4fb3f9&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="ios-logo"></div>
          <div class="caption">
            <h3>iOS</h3>
            <p>iOS is a mobile operating system created and developed by Apple Inc. and distributed exclusively for Apple hardware. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/android-logo.png?X-Amz-Date=20150524T064034Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a4a1c5139535da33f9043f7dfa29e93d92c6125e7ff51f36fcede21733451fad&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="android-logo"></div>
          <div class="caption">
            <h3>Android</h3>
            <p>Android is a mobile operating system (OS) based on the Linux kernel and currently developed by Google.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="img-container"><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/ubuntu-logo.png?X-Amz-Date=20150524T064128Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=79d8ff27b543ae1e893c03df24605ede5efae6a4765da9aa9f61b47ab052d411&X-Amz-Credential=ASIAIB34PADAR3SNMA6Q/20150524/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELf//////////wEagAIZ/34KiOzZ/BvLKxPhcWeO5VBPbTye0TwFeeQ5CMNj9ungte5sjgg19iAVRx6WFAR5V/LPZQKi5TtuwpUHoJhgV5CPTG552nx5LI2TPbzauDhDI/Ouyvsb9t0Mw4HoSE3h2IOmnU7rAqRsAQMUCF%2BrCqK6PrLuNqElhcx%2BFUUgVd00HTUwJ3yd2icxHKBAfIHa1A32NyiAweevoh8A62Vjjg/8EzSZ4ZtoLF2BybDm0HtcnflE0gRH6qzErJAigDrdxPsFOPgdCDdxxgzJFpk9X0se1st/NwH%2BlAQfNjYjYO2lYsV35H8klVW0xt43siUqfS0hHGZuIF2Vox5CW695IJPRhasF" alt="ubuntu-logo"></div>
          <div class="caption">
            <h3>Ubuntu</h3>
            <p>The leading platform for scale-out, Ubuntu helps you make the most of your infrastructure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <div class="container">
          <p>We've helped people build what they need.</p>
          <a href="portfolio.html" class="btn btn-primary btn-lg">See Our Works</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Get The APDDiscovery</h4>
        <ul>
          <li class="app-appstore"><a href="#">App Store</a></li>
          <li class="app-play"><a href="#">Google Play Store</a></li>
          <li class="app-droid"><a href="#">Android Market</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>About</h4>
        <ul>
          <li><a href="#">What is APDDiscovery?</a></li>
          <li><a href="#">Advertise With Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Web Development</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
            <div class="block-content">
              <ul class="list-location">
              <li><h4>LOREM IPSUM</h4></li><hr>
                <li>Lorem ipsum dolor sit </li>
                <li>amet, consectetur </li>
              </ul>
            </div>
        </ul>
      </div>
    </div>




<!---- social icons ---->
<div class="social-icons">
      <div class="container">
        <ul>
          <li><a class="twitter" href="#"><span> </span></a></li>
          <li><a class="facebook" href="#"><span> </span></a></li>
          <li><a class="vemeo" href="#"><span> </span></a></li>
          <li><a class="pin" href="#"><span> </span></a></li>

        </ul>

              <div class="downloads">
      <a href="#"><img src="/uploads/btn-download.png" alt="Download"></a>
      <a href="#"><img src="/uploads/btn-appstore.png" alt="Download"></a>
    </div>
      </div>

        <div class="clearfix"> </div>
      <!---- footer-links ---->
      <div class="footer-links">
        <ul>
          <li><p>Design by <a href="http://www.gracesojor.com/">Grace Sojor</a></p><span> </span></li>
          <li><a href="#"> Terms of Use </a><span> </span></li>
          <li><a href="#"> Support </a><span> </span></li>
          <li><a href="#">  Help </a></li>
        </ul>
        <script type="text/javascript">
                $(document).ready(function() {
                  /*
                  var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                  };
                  */

                  $().UItoTop({ easingType: 'easeOutQuart' });

                });
              </script>
                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
      </div>
      <!---- footer-links ---->
    </div>
      </div>

</footer>



    <script src="/js/v3/jquery.js"></script>
    <script src="/js/v3/bootstrap.js"></script>
    <!-- jQuery Plugins -->
    <script src="/js/v3/jquery.stellar.js" type="text/javascript"></script>
    <script src="/js/v3/jquery.sticky.js" type="text/javascript"></script>
    <script src="/js/v3/modernizr.custom.js"></script>
    <script src="/js/v3/scripts.js" type="text/javascript"></script>
    <script>
      $(document).ready(function() {
        switch("technologies")
        {
          case "portfolio":
            $('li#portfolio').addClass('active');
            break;
          case "process":
            $('li#process').addClass('active');
            break;
          case "technologies":
            $('li#technologies').addClass('active');
            break;
          case "about_us":
            $('li#about_us').addClass('active');
            break;
          case "blog":
            $('li#blog').addClass('active');
            break;
          case "contact":
            $('li#contact').addClass('active');
            break;
        }
      });

     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-30284669-2', 'auto');
     ga('send', 'pageview');

    </script>

  </body>
</html>
